{% extends "layouts/base.html" %}
{% block stylesheets %}
{% load static %}
{% endblock stylesheets %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card card-chart">
                    <div class="card-header">
                        <h3 class="card-header"> Dodaj dane do rozwiązania problemu plecakowego </h3>
                        <br>
                        {% if ksubmitted %}
                        <form action="" , method=POST>
                            {% csrf_token %}

                            {{ knapsackForm.as_p}}

                            <input type="submit" value="Submit knapsack" class="btn btn-secondary">
                        </form>
                        <br>
                        <h4 class="card-header"> Dane zostały poprawnie dodane</h4>

                        {% else %}
                        <form action="" , method=POST>
                            {% csrf_token %}

                            {{ knapsackForm.as_p}}

                            <input type="submit" value="Submit knapsack" class="btn btn-secondary">
                        </form>
                        {% endif %}
                        <br><br>
                        <h3 class="card-header"> Format danych </h3>
                        <br>
                        <h4 class="card-header"> Name: ciąg maksymalnie 100 znaków</h4>
                        <h4 class="card-header"> val: wartości przedmiotów odzielone spacjami</h4>
                        <h4 class="card-header"> wt: wagi przedmiotów odzielone spacjami</h4>
                        <h4 class="card-header"> W: pojemność plecaka</h4>
                        <br>
                        <h4 class="card-header"> val i wt powinny być tej samej długości</h4>
                        <br><br>
                        <h5 class="card-header"> Uwaga: nie zaleca się zestawów danych większych niż 30</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card card-chart">
                    <div class="card-header">
                        <h3 class="card-header"> Dodaj dane do rozwiązania problemu przydziału </h3>
                        <br>
                        {% if asubmitted %}
                        <form action="" , method=POST>
                            {% csrf_token %}

                            {{ assignmentForm.as_p}}

                            <input type="submit" value="Submit assignment" class="btn btn-secondary">
                        </form>
                        <br>
                        <h4 class="card-header"> Dane zostały poprawnie dodane</h4>
                        {% else %}
                        <form action="" , method=POST>
                            {% csrf_token %}

                            {{ assignmentForm.as_p}}

                            <input type="submit" value="Submit assignment" class="btn btn-secondary">
                        </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}