{% extends "layouts/base.html" %}
{% block stylesheets %}
{% load static %}
{% endblock stylesheets %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="content">
    {% for name, matrix, N, result_hun in results %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h2 class="card-header"> Zestaw danych: {{ name }} </h2>
                    <br> <br>
                    <table class="table">
                        {% for row in matrix %}
                        <tr>
                            {% for value in row %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h3 class="card-header"> Metoda węgierska </h3>
                    <br>
                    <h4>Total Cost: {{ result_hun.0 }}</h4>
                    <h4>Assignment: {{ result_hun.1 }}</h4>
                    <h4>Execution Time: {{ result_hun.2 }}</h4>
                    <h4>Complexity: {{ result_hun.3 }}</h4>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock content %}